# API and backend
fastapi
uvicorn[standard]
pydantic
typing-extensions

# Machine Learning & NLP
torch
transformers
sentence-transformers
datasets
numpy
pandas
tqdm
usearch

# File handling & parsing
PyMuPDF  # for PDF text extraction
requests

# Visualization
matplotlib
seaborn

# Jupyter & Development
notebook
jupyter
ipywidgets

accelerate>=0.26.0